# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# prisma
apps/api/prisma/migrations/.migration_lock

# ide
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# testing
coverage/

# misc
*.tsbuildinfo
uploads/
